/* Reset and Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
}

/* Header Styles */
header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* This ensures space between nav links and auth links */
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Separates nav links and auth links */
    width: 100%;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
}

/*
.login-register a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
}
*/

.login-register {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Aligns login/register to the far right */
    flex-grow: 0; /* Prevents it from growing */
    margin-left: auto; /* Pushes it to the far right */
}

.login-register a {
    /* Styles for login/register links */
    text-decoration: none;
    padding: 5px 10px;
    margin-left: 10px; /* Spaces out the login/register links */
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.login-register a:hover {
    /* Hover effect for login/register links */
    background-color: #e0e0e0;
    color: #000;
}

/* Upper and Lower Part Styles */
.upper-part, .lower-part {
    display: flex;
    justify-content: space-between;
    flex: 1;
    min-height: 50vh;
}

/* Section Styles */
section, aside {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: none;
    margin: 10px;
    width: calc(33.333% - 20px);
}

/* Category Selection Styles */
.category-selection {
    display: flex;
    flex-direction: column;
    height: calc(50vh - 20px);
    margin: 10px;
}

.category-scroll-area {
    flex-grow: 1;
    overflow-y: auto;
    background-color: white;
}

.categories {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.category {
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    margin-right: 5px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

/* Form container styles */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-login-register {
    background-color: white;
    padding: 60px; /* Increased padding */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px; /* Increased max width */
    box-sizing: border-box;
}

.form-login-register h2 {
    text-align: center;
    margin-bottom: 30px; /* Increased margin bottom for more space */
}

.form-login-register input {
    width: calc(100% - 20px); /* Adjust width accounting for padding */
    padding: 15px; /* Increased padding */
    margin-bottom: 30px; /* Increased margin bottom for more space */
    border-radius: 3px;
    border: 1px solid #ccc;
}

.form-login-register button {
    width: calc(100% - 20px); /* Adjust width accounting for padding */
    padding: 15px; /* Increased padding */
    border-radius: 3px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-login-register button:hover {
    background-color: #555;
}

.form-login-register p {
    text-align: center;
    margin-top: 20px; /* Added margin top for spacing */
}

.form-login-register a {
    color: #333;
    text-decoration: none; /* Removes underline from links */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .form-login-register {
        padding: 30px; /* Smaller padding for smaller screens */
        max-width: 90%; /* Allows the form to be more responsive */
    }

    header, nav {
        flex-direction: column;
        align-items: center;
    }

    .login-register {
        order: 2; /* Ensures login/register is below the nav links on smaller screens */
        width: 100%; /* Full width on smaller screens */
        justify-content: center; /* Center login/register on smaller screens */
        margin-top: 10px;
    }

    .upper-part, .lower-part {
        flex-direction: column;
        align-items: center;
    }

    section, aside {
        width: auto;
        margin: 10px;
        height: auto;
    }

    .category-selection {
        height: auto;
    }
}
