/* Reset and Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
}

/* Header Styles */
header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* This ensures space between nav links and auth links */
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Separates nav links and auth links */
    width: 100%;
}

nav a, .search-container button {
    color: white;
    text-decoration: none;
    padding: 0 15px;
}

.search-container {
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.search-container input[type="text"] {
    padding: 8px;
    margin-right: 10px;
    font-size: 1em;
    border-radius: 4px;
    border: none;
}

.search-container button {
    padding: 8px;
    background-color: #555; /* Darker background for the button */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #666; /* Hover effect */
}

.login-register {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Aligns login/register to the far right */
    flex-grow: 0; /* Prevents it from growing */
    margin-left: auto; /* Pushes it to the far right */
}

.login-register a {
    /* Styles for login/register links */
    text-decoration: none;
    padding: 5px 10px;
    margin-left: 10px; /* Spaces out the login/register links */
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.login-register a:hover {
    /* Hover effect for login/register links */
    background-color: #e0e0e0;
    color: #000;
}

/* Upper and Lower Part Styles */
.upper-part, .lower-part {
    display: flex;
    justify-content: space-between;
    flex: 1;
    min-height: 50vh;
}

/* Section Styles */
section, aside {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: none;
    margin: 10px;
    width: calc(33.333% - 20px);
}

/* Category Selection Styles */
.category-selection {
    display: flex;
    flex-direction: column;
    height: calc(50vh - 20px);
    margin: 10px;
}

.category-scroll-area {
    flex-grow: 1;
    overflow-y: auto;
    background-color: white;
}

.categories {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.category {
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    margin-right: 5px;
}

/* Submit Button Styles */
#category-form button[type="submit"] {
    width: 100%; /* Make the button full width */
    padding: 15px; /* Increased padding for larger button */
    border-radius: 3px;
    border: none;
    background-color: #333; /* Dark background to match the header */
    color: white; /* White text color to stand out */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#category-form button[type="submit"]:hover {
    background-color: #555; /* Lighter background on hover */
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .form-login-register {
        padding: 30px; /* Smaller padding for smaller screens */
        max-width: 90%; /* Allows the form to be more responsive */
    }

    header, nav {
        flex-direction: column;
        align-items: center;
    }

    .login-register, .search-container {
        order: 2; /* Ensures login/register and search bar are below the nav links on smaller screens */
        width: 100%; /* Full width on smaller screens */
        justify-content: center; /* Center login/register and search bar on smaller screens */
        margin-top: 10px;
    }

    .upper-part, .lower-part {
        flex-direction: column;
        align-items: center;
    }

    section, aside {
        width: auto;
        margin: 10px;
        height: auto;
    }

    .category-selection {
        height: auto;
    }
}

/* Popup Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  